.option {
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  height: 200px;
  text-align: center;
}

.option h3 {
  font-size: 1.5em;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.option p {
  font-size: 1em;
  color: var(--color-text);
}

.question {
  margin-top: 15px;
}

.buttonYes,
.buttonNo {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.buttonYes {
  background-color: var(--color-primary);
  color: white;
}

.buttonYes:hover {
  background-color: var(--color-accent);
}

.buttonNo {
  background-color: var(--color-secondary);
  color: white;
}

.buttonNo:hover {
  background-color: var(--color-accent);
}

.cardContainer {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeOut {
  opacity: 0;
  transform: translateY(-20px);
}
