/* Arquivo: Support.module.css */

.supportPage {
  text-align: center;
}

.supportIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: var(--color-primary);
  color: white;
}

.supportIntro h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: white;
}

.supportIntro p {
  font-size: 1.2em;
  width: 50%;
}

.supportOptions {
  padding: 40px 20px;
  margin-top: 20px;
}

.supportOptions h2 {
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.supportImpact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: var(--color-background);
}

.supportImpact h2 {
  color: var(--color-primary);
  margin-bottom: 15px;
}

.supportImpact p {
  width: 50%;
  font-size: 1.3em;
  color: var(--color-text);
}

.supportForm {
  padding: 40px 20px;
  background-color: var(--color-background);
}

.supportForm h2 {
  color: var(--color-secondary);
  margin-bottom: 15px;
}

.supportForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.formButton {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: var(--color-accent);
}

.ctaShare {
  padding: 40px 20px;
  background-color: var(--color-secondary);
  color: white;
}

.ctaShare h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ctaShare p {
  font-size: 1.1em;
}

.shareButton {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.shareButton:hover {
  background-color: var(--color-accent);
}
