/* Arquivo: global.css */

:root {
  --color-primary: #228b22; /* Verde folha */
  --color-secondary: #8b4513; /* Marrom terroso */
  --color-accent: #a9a9a9; /* Cinza metálico */
  --color-background: #f5f5f5;
  --color-text: #333333;
  --font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
